[submodule "test/CodeDuplicateTest1"]
	path = test/CodeDuplicateTest1
	url = https://github.com/SchaefferDuncan/CodeDuplicateTest1
	branch = master
[submodule "test/CodeDuplicateTest2"]
	path = test/CodeDuplicateTest2
	url = https://github.com/SchaefferDuncan/CodeDuplicateTest2
	branch = master
